@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Ribeye+Marrow');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

html{
    background-color: hsl(45, 55%, 55%);
}

h1{
    font-family: "Ribeye Marrow", cursive;
    text-transform: uppercase;
    font-size: 300%;
    text-align: center;
    line-height: 200%;
    letter-spacing: 25px;
}

p.introduccion{
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
    font-family: sans-serif;
    line-height: 200%;

}

p.latin{
    font-family: "lobster",cursive;
    font-size: 250%;
    margin: 0;

}

p.castellano{
    font-family: "just another hand",cursive;
    color: white;
    text-align: right;
    font-size: 375%;
    margin:0;
    margin-bottom: 50px;
}

em{
    text-decoration: underline;
}