html{
    background-color: hsl(145, 51%, 35%);
}

h1{
    font-family: sans-serif;
    font-size: 300%;
    text-transform: capitalize;
}

p.infancia{
    color: white;
    font-family: serif;
    font-style: oblique;
    font-size: 150%;
}

p.numeros{
    color:hsl(353, 77%, 57%);
    font-family: cursive;
    font-size: 150%;
}

p.animales{
    color:hsl(35, 100%, 85%);
    font-family: sans-serif;
    font-size: 150%;
}

p.libros{
    color:hsl(31, 100%, 61%);
    font-family: monospace;
    font-size: 200%;
}
