@charset "utf-8";

@font-face {
    font-family: "just-another-hand";
    src: url(just-another-hand.woff2);
}

@font-face {
    font-family: "lobster";
    src: url(lobster.woff2);
}

@font-face {
    font-family: "ribeye-marrow";
    src: url(ribeye-marrow.woff2);
}

html{
    background-color: hsl(45, 55%, 55%);
}

h1{
    font-family: "ribeye-marrow",cursive;
    text-transform: uppercase;
    font-size: 300%;
    text-align: center;
    line-height: 200%;
    letter-spacing: 25px;
}

p.introduccion{
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
    font-family: sans-serif;
    line-height: 200%;

}

p.latin{
    font-family: "lobster",cursive;
    font-size: 250%;
    margin: 0;

}

p.castellano{
    font-family: "just-another-hand",cursive;
    color: white;
    text-align: right;
    font-size: 375%;
    margin:0;
    margin-bottom: 50px;
}

em{
    text-decoration: underline;
}