
*{
    margin: 0px;
    padding: 0px;
}
html{
    background-color: #997366;
    font-family: sans-serif;
}

main{
    margin-right: 10%;
    margin-left: 10%;
    border: 2px white solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;



}

main p{
    color: white;
    margin-top: 20px;
}


section{
    margin-bottom: 2%;
    background-color: hsl(16, 15%, 65%);
    padding-bottom: 20px;
    margin-bottom: 40px;

}

section p{
    border:hsl(15, 31%, 20%) 10px solid;
    margin-right: 10%;
    margin-left: 10%;
    padding: 20px 10px 20px 10px;
    line-height: 50px;
}

header {
    background-color: hsl(15, 15%, 55%);
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 2%;
}

header p{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 150%;
    text-align: justify;

}

h2{
    background-color: white;
    font-size: 200%;
    padding-left: 10px;

}

h1{
    text-align: center;
    font-size: 400%;
    margin-bottom: 30px;
}

p{
    font-size: 150%;
}